<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.devillness.pmss.mappers.ICalcMapper">
    <select id="selectOperators" resultType="net.devillness.pmss.entities.OperatorEntity">
        select `name`     as `name`,
               `rank`     as `rank`,
               `position` as `position`,
               `place`    as `place`,
               `tag1`     as `tag1`,
               `tag2`     as `tag2`,
               `tag3`     as `tag3`
        from `pmss`.`operators`
        where `rank` != 6
          and `position` like concat(#{position}, '%')
          and `place` like concat(#{place}, '%')
          and (`tag1` like concat(#{tag1}, '%') or
               `tag2` like concat(#{tag1}, '%') or
               `tag3` like concat(#{tag1}, '%'))
          and (`tag1` like concat(#{tag2}, '%') or
               `tag2` like concat(#{tag2}, '%') or
               `tag3` like concat(#{tag2}, '%'))
          and (`tag1` like concat(#{tag3}, '%') or
               `tag2` like concat(#{tag3}, '%') or
               `tag3` like concat(#{tag3}, '%'))
        order by `rank` desc
    </select>

    <select id="selectOperatorsByRank" resultType="net.devillness.pmss.entities.OperatorEntity">
        select `name`     as `name`,
               `rank`     as `rank`,
               `position` as `position`,
               `place`    as `place`,
               `tag1`     as `tag1`,
               `tag2`     as `tag2`,
               `tag3`     as `tag3`
        from `pmss`.`operators`
        where `rank` = #{rank}
          and `position` like concat(#{position}, '%')
          and `place` like concat(#{place}, '%')
          and (`tag1` like concat(#{tag1}, '%') or
               `tag2` like concat(#{tag1}, '%') or
               `tag3` like concat(#{tag1}, '%'))
          and (`tag1` like concat(#{tag2}, '%') or
               `tag2` like concat(#{tag2}, '%') or
               `tag3` like concat(#{tag2}, '%'))
          and (`tag1` like concat(#{tag3}, '%') or
               `tag2` like concat(#{tag3}, '%') or
               `tag3` like concat(#{tag3}, '%'))
        order by `rank` desc
    </select>
</mapper>