main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main > section {
    width: 50vw;
}

main > section > form {
    width: 100%;
}

main > section > form > table.tags {
    width: 100%;
    background-color: #1f1f1f;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    user-select: none;
}

main > section > form > table.tags > tbody > tr:not(.buttons) {
    line-height: 225%;
}

main > section > form > table.tags > tbody > tr > th {
    padding: 0 0.5rem;
}

main > section > form > table.tags > tbody > tr > td > span > label {
    background-color: #bfbfbf;
    border-radius: 0.1rem;
    box-sizing: border-box;
    font-size: 0.9rem;
    padding: 0.375rem;
    transition-duration: 150ms;
}

main > section > form > table.tags > tbody > tr > td > span > label:hover {
    background-color: #7f7f7f;
    transition-duration: 150ms;
}

main > section > form > table.tags > tbody > tr > td > span > input:checked + label {
    background-color: #00bfff;
}

main > section > form > table.tags > tbody > tr.buttons > td > div {
    text-align: center;
    border-radius: 0.25rem;
    font-weight: 700;
    margin-top: 0.5rem;
    padding: 0.375rem 0;
}

main > section > form > table.tags > tbody > tr.buttons > td > div.reset {
    background-color: #dc143c;
    cursor: pointer;
    transition-duration: 150ms;
}

main > section > form > table.tags > tbody > tr.buttons > td > div.reset:hover {
    background-color: #a50f2d;
    transition-duration: 150ms;
}

main > section > form > table.tags > tbody > tr.buttons > td > div.search {
    background-color: #1e90ff;
    cursor: pointer;
    transition-duration: 150ms;
}

main > section > form > table.tags > tbody > tr.buttons > td > div.search:hover {
    background-color: #166cbf;
    transition-duration: 150ms;
}

main > section > div.result {
    background-color: #1f1f1f;
    border-radius: 0.25rem;
    box-sizing: border-box;
    padding: 0.25rem;
    user-select: none;
}

main > section > div.result > table {
    width: 100%;
    border-collapse: collapse;
}

main > section > div.result > table > tbody > tr {
    line-height: 225%;
}

main > section > div.result > table > tbody > tr:not(:last-child) {
    border-bottom: solid 0.1rem #3f3f3f;
}

main > section > div.result > table > tbody > tr > td > span {
    border-radius: 0.1rem;
    box-sizing: border-box;
    font-size: 0.9rem;
    padding: 0.375rem;
}

main > section > div.result > table > tbody > tr > td.tags {
    width: 7.5rem;
    padding-right: 1rem;
}

main > section > div.result > table > tbody > tr > td.tags > span {
    background-color: #7f7f7f;
}

main > section > div.result > table > tbody > tr > td.operators {
    color: #000000;
}

main > section > div.result > table > tbody > tr > td.operators > span[rank='6'] {
    background-color: #ff6600;
}

main > section > div.result > table > tbody > tr > td.operators > span[rank='5'] {
    background-color: #ffae00;
}

main > section > div.result > table > tbody > tr > td.operators > span[rank='4'] {
    background-color: #dbaedb;
}

main > section > div.result > table > tbody > tr > td.operators > span[rank='3'] {
    background-color: #00b2f6;
}

main > section > div.result > table > tbody > tr > td.operators > span[rank='2'] {
    background-color: #dce537;
}

main > section > div.result > table > tbody > tr > td.operators > span[rank='1'] {
    background-color: #9f9f9f;
}

@media (max-width: 50rem) {
    main > section  {
        width: 95vw;
    }
}